@import "../../vars.css";

.container {
  padding: 180px 10%;
  color: var(--color-text);
}

.title {
  font-size: 64px;
  font-weight: 900;
  margin-bottom: 40px;
  font-family: var(--font-poppins);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 70%,
    rgba(255, 255, 255, 0) 120%
  );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.contactDetails {
  display: flex;
  flex-direction: column;
  gap: 24px;
  font-size: 20px;
  font-family: var(--font-roboto);
}

.detailItem {
  display: flex;
  align-items: center;
  gap: 16px;
  background-color: rgba(255, 255, 255, 0.05);
  padding: 16px 24px;
  border-radius: 16px;
  transition: transform 0.3s ease;
}

.detailItem:hover {
  transform: translateY(-5px);
}

@media screen and (max-width: 830px) {
  .title {
    font-size: 48px;
    text-align: center;
  }

  .contactDetails {
    align-items: center;
    text-align: center;
  }

  .detailItem {
    justify-content: center;
  }
}
