@import "../../vars.css";

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
  background-color: transparent;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  color: var(--color-text);
}

.name {
  font-size: 16px;
  font-family: var(--font-roboto);
}

.socialIcons {
  display: flex;
  gap: 20px;
}

.socialIcons a {
  color: var(--color-text);
  transition: transform 0.3s ease;
}

.socialIcons a:hover {
  color: var(--color-primary);
  transform: translateY(-4px);
}

@media screen and (max-width: 830px) {
  .footer {
    flex-direction: column;
    gap: 12px;
  }
}
